<h2>Applicants</h2>
<ul class="list-group">
  <li class="list-group-item"
      *ngFor="let applic of applicants"
      (click)="onSelect(applic)"
      [class.active]="applic === selectedApplicant"
  >
    <span>{{applic.name}}</span>
  </li>
</ul>

<div class="card" *ngIf="selectedApplicant">
  <div class="card-body">
    <h1>{{ selectedApplicant.name | uppercase }}</h1>
    <div class="form-group">
      <input type="text" placeholder="Name" [(ngModel)]="selectedApplicant.name" class="form-control" />
    </div>
  </div>
</div>
